<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.Springbootmanger.dao.UserinfoDao">

    <resultMap id="Userinfo" type="com.kk.Springbootmanger.domain.Userinfo" >
        <result column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="addtime" property="addtime" />
    </resultMap>

    <sql id="Base_Column_List">
        `user_id`,
        `username`,
        `addtime`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO userinfo (
        `user_id`,
        `username`,
        `addtime`
        )
        VALUES(
        #{userinfo.userId},
        #{userinfo.username},
        #{userinfo.addtime}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM userinfo
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE userinfo
        SET
        user_id = #{userinfo.userId},
        username = #{userinfo.username},
        addtime = #{userinfo.addtime},
        UpdateTime = NOW()
        WHERE `id` = #{userinfo.id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="Userinfo">
        SELECT <include refid="Base_Column_List" />
        FROM userinfo
        WHERE `id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Userinfo">
        SELECT <include refid="Base_Column_List" />
        FROM userinfo
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM userinfo
    </select>

</mapper>
